@font-face {
  font-family: 'DirectoryRemixIcon';
  src:
    url('/directory/remixicon/remixicon__q_a7ce6baa00.woff2') format('woff2'),
    url('/directory/remixicon/remixicon__q_a7ce6baa00.woff') format('woff');
  font-display: swap;
}

.ri {
  display: inline-block;
  font-family: 'DirectoryRemixIcon' !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-magic-fill::before {
  content: "\eee9";
}

.ri-paint-brush-fill::before {
  content: "\efc0";
}

.ri-mac-fill::before {
  content: "\eee5";
}

.ri-landscape-fill::before {
  content: "\ee7c";
}

.ri-robot-fill::before {
  content: "\f091";
}
