@font-face {
  font-family: "iconfont";
  src: url("/photos-ui/iconfont/iconfont.woff") format("woff");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e003";
}

.icon-shouye:before {
  content: "\e00b";
}

.icon-github:before {
  content: "\e00c";
}

.icon-weibo:before {
  content: "\e00d";
}

.icon-map-pin-2-line:before {
  content: "\e00e";
}

.icon-time-line:before {
  content: "\e00f";
}

.icon-camera-lens-line:before {
  content: "\e010";
}
